.x-bg-img{
	background-color: #ebebeb;
}

#container {
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}

.x-grid-menu6{ margin:7.2% 0 2.9% 4.8%;}
.x-grid-menu6 .cell{ float:left; width:30.3%; margin:0 1.8% 3.3% 0; background-color:#ffffff; border:#e0e0e0 solid 1px; border-radius:0.3em; box-shadow:1px 1px 1px rgba(0,0,0,0.06);}
.x-grid-menu6 .cell .card{ display:block; height:9.3em; text-align:center;}
.x-grid-menu6 .cell img{ width:100%; height:5.9em; margin-bottom:13.4%; vertical-align:middle; -webkit-border-top-left-radius:0.3em; -webkit-border-top-right-radius:0.3em;}
.x-grid-menu6 .cell span{ display:inline-block; width:100%; height:1.3em; color:#737373; font-weight:bold; overflow:hidden;}
@media screen and (min-width:480px){
	#container{ font-size:20px;}
}
@media screen and (min-width:640px){
	#container{ font-size:24px;}
}